<div id="rvxpo_all_reviews_widget"></div>
  
{% schema %}
  {
    "name": "ReviewXpo All Reviews",
    "target": "section",
    "templates": ["collection","index","list-collections","page","blog","article","gift_card"]
  }
{% endschema %}