<div
  id="react-rvxpo_reviews_widget"
  data-product_id="{{ product.id }}"
  > 
</div>
<script async type="module" src="{{ "index.js" | asset_url }}"></script>
<link rel="stylesheet" href="{{ "index.css" | asset_url }}">

{% schema %}
  {
    "name": "React Reviews Widget",
    "target": "section",
    "templates": ["product"],
    "settings": []
  }
{% endschema %}

