<div id="rvxpo_carousel_widget"></div>
  
{% schema %}
  {
    "name": "ReviewXpo Carousel",
    "target": "section",
    "templates": ["product","collection","index","list-collections","page","blog","article","gift_card"]
  }
{% endschema %}