<div id="rvxpo_five_star_badge_widget"></div>
  
{% schema %}
  {
    "name": "ReviewXpo 5-Star Badge",
    "target": "section",
    "templates": ["product","collection","index","list-collections","page","blog","article","gift_card"]
  }
{% endschema %}