<div id="rvxpo_testimonial_widget"></div>
  
{% schema %}
  {
    "name": "ReviewXpo Testimonial",
    "target": "section",
    "templates": ["product","collection","index","list-collections","page","blog","article","gift_card"]
  }
{% endschema %}